// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 2;
$column-width   : 28em;
$gutter-width   : 2em;
$grid-padding   : 0em;

$show-grid-backgrounds  : true;
