// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "normalize";

/* -------------------------------------------------------------------------*/
/* Layout */

.page {
  @include container;

  header, nav, footer { clear: both; }

  .primary { @include span-columns(1,2); }

  .secondary { @include span-columns(1 omega,2); }

}

/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
}

body {
  background-color: rgb(62, 94, 141);
}

.page {
  background-color: rgb(230, 230, 225);
  border: .125em solid white;
}

nav {
  text-align: center;
}
nav ul,
nav li {
/* http://www.alistapart.com/articles/taminglists/ */
  display: inline;
  margin: 0;
  padding-left: 0;
}
nav a {
  padding: 0 1em;
  line-height: 2em;
}

main, footer {
  margin: 0 2em;
}