// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "normalize";

/* -------------------------------------------------------------------------*/
/* Layout */

.page {
  @include container;

  header, nav, footer { clear: both; }

  .primary { @include span-columns(1,2); }

  .secondary { @include span-columns(1 omega,2); }

}

@media screen and (max-width: 38em) {
  @include with-grid-settings(1,100%,2em,0em);
  .page { 
    @include container;
    .primary { @include span-columns(1,1); }
    .secondary { @include span-columns(1 omega,1); }
    font-size: 75%;
  }
}

/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
}

body {
  background-color: $philosophy-blue;
}

.page {
  background-color: $boring-gray;
  border: .125em solid white;
  font-family: Verdana;
}

.top-nav {
  @include a-swap(white, white, $header-footer);
  background-color: $header-footer;
  text-transform: uppercase;
}

.sub-nav {
  border-top: .125em solid $boring-gray;
  background-color: $subheader;
  color: white;
  padding-left: 2em;
  @include a-swap(white, white, $subheader, 1);
}

.top-nav, .sub-nav {
  text-align: center;
  font-weight: bold;

  ul, li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  a {
    padding: .25em 1em;
    line-height: 2em;
  }
}

main {
  margin: 0 2em;
}

footer {
  padding: 1em 2em;
  background-color: $header-footer;
  color: $boring-gray;
  @include a-swap($boring-gray, $boring-gray, $header-footer, 1);
}

.profile {
  clear: both;
}

.profile-info {
// http://compass-style.org/reference/compass/css3/inline_block/
  @include inline-block;
}

.profile-img {
  float: left;
  border: .25em $header-footer solid;
  margin-bottom: 3em;
}

