// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "normalize";

/* -------------------------------------------------------------------------*/
/* Layout */

.page {
  @include container;

  header, nav, footer { clear: both; }

  .primary { @include span-columns(1,2);
    padding-bottom: 1em;
  }

  .secondary { @include span-columns(1 omega,2);
    padding-bottom: 1em;
  }
}

@media screen and (max-width: $break) {
  @include with-grid-settings(1,100%,2em,0em);
  .page {
    @include container;
    .primary { @include span-columns(1,1);
      padding-bottom: 0;
    }
    .secondary { @include span-columns(1 omega,1);
      padding-bottom: 0;
    }
    font-size: 75%;
  }
}

/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
}
main img {
  margin: .5em .5em .5em 0;
  height: auto;
  border: .125em solid black;
}
figure + figure {
  margin-top: 1em;
}

body {
  background-color: $philosophy-blue;
}

.page {
  background-color: $base;
  border: .125em solid white;
  font-family: Verdana;
}

.top-nav {
  @include a-swap(white, white, $header-footer, 1);
  background-color: $header-footer;
  text-transform: uppercase;
}

.sub-nav {
  padding-left: 2em;
    border-top: .125em solid $base;
    color: white;
  &:nth-of-type(even) {
    background-color: $subheader;
    @include a-swap(white, white, $subheader, 1);
  }
  &:nth-of-type(odd) {
    background-color: $header-footer;
    @include a-swap(white, white, $header-footer, 1);
  }
}

.top-nav, .sub-nav {
  text-align: center;
  font-weight: bold;

  ul, li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  a {
    padding: .25em 1em;
    line-height: 2em;
  }
}

main {
  margin: 0 2em;
  padding-bottom: 1em;
}

footer {
  padding: 1em 2em;
  background-color: $header-footer;
  color: $base;
  @include a-swap($base, $base, $header-footer, 1);
}

.profile,
.course {
  padding: 0 2em 1em 1.5em;
  margin-bottom: 1em;
  border: .25em $philosophy-blue solid;
  /* overflow keeps the div from collapsing */
  /* http://css-tricks.com/all-about-floats/ */
  overflow: hidden;

  /* http://css-tricks.com/how-nth-child-works/ */
  /* http://css-tricks.com/the-difference-between-nth-child-and-nth-of-type/ */
  &:nth-of-type(even) {
    background-color: $box;
  }
  &:nth-of-type(odd) {
    background-color: $box-alt;
  }
  /* http://css-tricks.com/pseudo-class-selectors/ */
  &:only-of-type {
    margin-top: 1em;
  }
}

.profile-title {
  margin-top: -.75em;
}
.profile-degree {
  margin-top: -1em;
}

.profile-img,
.course-time {
  float: right;
  border: .25em $philosophy-blue solid;
}
.profile-img {
  width: 150px;
  height: 185px;
  @media screen and (max-width: $break) {
    width: 6em;
    height: auto;
  }
}
.course-time {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  background-color: $header-footer;
  color: $base;
  @media screen and (max-width: $break-alt) {
    float: none;
    margin-left: 0;
    margin-bottom: 1em;
  }
}

.donate {
  font-weight: bold;
  color: gold;
  &:hover,
  &:active {
    color: $header-footer;
    background-color: gold;
    text-decoration: none;
  }
}